<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Discord</title>
</head>

<body class="bg-slate-100">
    <div class="flex mb-4 justify-center">
        <div class="max-w-lg rounded overflow-hidden shadow-lg border border-gray-500 mt-3 bg-slate-50">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Welcome to the best discord bot dashboard</div>
            </div>
        </div>
    </div>
    <div class="flex mb-4 text-center mt-5">
        <div class="w-1/5"></div>
        <div class="w-2/5">
            <p>Connecte toi à discord pour accéder au dashboard :</p>
            <a href="./login"><button type="button" class="btn-transparent btn-blue-transparent">Login to
                    discord</button></a>
        </div>
        <div class="w-1/6"></div>
        <div class="w-2/5 bg-gray-400 h-12">

        </div>
        <div class="w-1/5"></div>
    </div>
</body>

</html>