<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Enregistez-vous !</h1>
    <form method="post" name="register">
        <input type="text" name="username" placeholder="Username" />
        <input type="mail" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <br>
        <button type="submit" name="submitBtn">s'enregistrer</button>
    </form>
    <a href="./login">J'ai déjà un compte</a>
</body>

</html>